body {
  padding-top: 50px;
  padding-bottom: 20px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

p ,a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
